header{
	display: flex;
	justify-content: center;
	gap: 400px;
	align-items: center;
	height: 150px;
}
.logo{
	font-size:25px;
	font-weight:700;
}
.nav{
	display: flex;
	gap: 40px;
	font-size: 25px;
	font-weight: 600;
}
.navbar{
	display: flex;
	gap: 20px;
}
.navbar a{
	text-decoration: none;
	color: black;
}
body{
	margin: 0px;
}
/* 1st Div */
.pre-order{
	display: flex;
	justify-content: space-around;
}
.Ptext{
	width: 50%;
}
.Ptext h1{
	font-size: 65px;
	font-weight: 700;
}
.Ptext p{
	font-size: 25px;
	font-weight: 700;
}
.primary-btn{
	background-color: #e35d6a;
	padding: 8px 20px;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	color: white;
	text-align: center;
}
.p-btn{
	display: flex;
	align-items: center;;
}
.ring{
	height: 460px;
	width:460px;
	border: 5px solid gray;
	border-radius: 50%;
	position: relative;
}
.ring1{
	height: 350px;
	width:350px;
	background: gray;
	border: 5px solid gray;
	border-radius: 50%;
	position:absolute;
	bottom: 7%;
	right: 8%;
	z-index: 10;
}
.pimage{
	position:absolute;
	bottom: 7%;
	right: 5%;
	z-index: 20;
}
.company{
	margin: 60px 170px;
	display: grid;
	grid-template-columns: repeat(7,1fr);
	justify-content: center;
	padding: 20px 0px;
	border-top: 2px gray solid;
	border-bottom: 2px gray solid;
	
}